 
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  /*button for user victory*/
  .buttonVoce{
    background-color: #3f0aa1;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: not-allowed;
    width: 100%;
    font-size: 25px;
    box-sizing: border-box;
  }

  /*button for computer victory*/
  .buttonComputador{
    background-color: #cc1212;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: not-allowed;
    width: 100%;
    font-size: 25px;
    box-sizing: border-box;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
